@font-face {
  font-family: Pokemon;
  src: url('Pokemon Hollow.ttf');
}

@font-face {
  font-family: Pokemon2;
  src: url('Pocket Monk.otf');
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

html {
  background-color: #8bac0f;
}

body {
  background-color: #8bac0f;
  font-size: 10px;
  /* font-smooth: never; */
  -webkit-font-smoothing: none;
  font-family: 'pokemon-font', monospace;
}

h1 {
  font-size: 40px;
}

.grid-view {
  border-style: solid;
  padding-left: 10%;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  align-content: space-around;
}

.button {
  border: none;
  background-color: #8bac0f;
  cursor: pointer;
}

.pokemon {
  justify-content: center;
  text-align: center;
}

.image {
  height: 200px;
  width: 200px;
}

img {
  height: 140px;
  width: 140px;
}

.list-img:hover {
  animation: App-logo-spin 0.8s linear;
  zoom: 1.2;
}

li {
  text-align: center;
  text-decoration: none;
}

.title {
  text-align: center;
  font-family: Pokemon2;
  color: rgb(231, 231, 55);
  outline-style: solid;
  outline: black;
  outline-width: thick;
  text-shadow: 2px 5px blue;
}

.title {
  font-size: 10vh;
}